rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /memories/{document} {
      allow read: if true;
      allow write: if false;
    }
    
    match /dreams/{document} {
      allow read: if true;
      allow write: if false;
    }
    
    match /guestbook/{document} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    
    match /settings/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}

